<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Prec</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/prec.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul id="account-tabs" class="nav nav-tabs" role="tablist">
            <% @accounts.each do |account| %>
            <li<%= account[:id] == @account_id ? ' class="active"' : '' %>><a href="<%= account[:id] == @account_id ? '#' : "/accounts/#{account[:id]}/txns.html" %>"><%= account[:name] %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="account">
            <section>
              <button type="button" class="btn btn-primary btn-upload-statement" data-toggle="modal" data-target="#modal-upload-statement">Upload a statement</button>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="txns-date-header">Date</th>
                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th class="txns-category-header">Category</th>
                  </tr>
                </thead>
                <tbody>
                  <% @txns.each do |txn| %>
                  <tr>
                    <td><%= txn[:date] %></td>
                    <td><%= txn[:description] %></td>
                    <td><%= format_currency(txn[:debit_cents]) %></td>
                    <td><%= format_currency(txn[:credit_cents]) %></td>
                    <td><%= format_currency(txn[:balance_cents]) %></td>
                    <td>
                      <form action="/txns/<%= txn[:id] %>.json" method="POST" class="txns-category-form">
                        <div>
                          <select class="form-control selectpicker txns-category-select" data-live-search="true">
                            <option onclick="alert('clicked'); return false;">New Category...</option>
                            <option value="0"<%= txn[:category_id].nil? ? ' selected' : '' %>>Uncategorized</option>
                            <% @categories.each do |c| %>
                              <option value="<%= c[:id] %>"<%= c[:id] == txn[:category_id] ? ' selected' : '' %>><%= c[:name] %></option>
                            <% end %>
                          </select>
                        </div>
                      </form>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <div id="modal-upload-statement" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="/accounts/<%= @account_id %>/txns.html" method="POST" enctype="multipart/form-data">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Upload a statement</h4>
                      </div>
                      <div class="modal-body">
                        <input type="file" ref="fileInput" name="txn_file" />
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/prec.js"></script>
  </body>
</html>
