<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Txns</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.6.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme-3.3.6.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select-1.10.0.css">
    <link rel="stylesheet" type="text/css" href="/css/txns.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul id="account-tabs" class="nav nav-tabs" role="tablist">
            <% @accounts.each do |account| %>
            <li<%= account[:id] == @account_id ? ' class="active"' : '' %>><a href="<%= account[:id] == @account_id ? '#' : "/accounts/#{account[:id]}/txns.html" %>"><%= account[:name] %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="account">
            <section>
              <div id="txns-filter-select" class="btn-group" role="group">
                <a href="/accounts/<%= @account_id %>/txns.html?filter=uncategorised" type="button" class="btn btn-default<%= params[:filter] == 'uncategorised' ? ' active' : '' %>">Uncategorised</a>
                <a href="/accounts/<%= @account_id %>/txns.html" class="btn btn-default<%= params[:filter] != 'uncategorised' ? ' active' : '' %>">All</a>
              </div>
              <button type="button" class="btn btn-primary btn-upload-statement" data-toggle="modal" data-target="#modal-upload-statement">Upload a statement</button>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="txns-date-header">Date</th>
                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th class="txns-category-header">Category</th>
                  </tr>
                </thead>
                <tbody>
                  <% @txns.each do |txn| %>
                  <tr<%= txn[:category_id].nil? ? ' class="uncategorised"' : '' %>>
                    <td><%= txn[:date] %></td>
                    <td><%= txn[:description] %></td>
                    <td><%= format_currency(txn[:debit_cents]) %></td>
                    <td><%= format_currency(txn[:credit_cents]) %></td>
                    <td><%= format_currency(txn[:balance_cents]) %></td>
                    <td>
                      <form action="/txns/<%= txn[:id] %>.json" method="POST" class="txns-category-form">
                        <div>
                          <select class="form-control selectpicker txns-category-select" data-live-search="true">
                            <option value="new-category" data-toggle="modal" data-target="#modal-new-category">New Category...</option>
                            <option value="0"<%= txn[:category_id].nil? ? ' selected' : '' %>>Uncategorised</option>
                            <% @categories.each do |c| %>
                              <option value="<%= c[:id] %>"<%= c[:id] == txn[:category_id] ? ' selected' : '' %>><%= c[:name] %></option>
                            <% end %>
                          </select>
                        </div>
                      </form>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <% if @page_count > 1 %>
              <div class="pagination">
                <% (1..@page_count).each do |i| %>
                  <a <%= i == @current_page ? 'class = "current" ' : '' %>href="?page=<%= i %>"><%= i %></a>
                <% end %>
              </div>
              <% end %>
              <div id="modal-upload-statement" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="/accounts/<%= @account_id %>/txns.html" method="POST" enctype="multipart/form-data">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Upload a statement</h4>
                      </div>
                      <div class="modal-body">
                        <input type="file" ref="fileInput" name="txn_file" />
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div id="modal-new-category" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="/categories.html" method="POST">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New Category</h4>
                      </div>
                      <div class="modal-body">
                        <input type="text" class="form-control" name="name" id="new-category-name" placeholder="Category name">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="/js/bootstrap-3.3.6.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select-1.10.0.js"></script>
    <script type="text/javascript" src="/js/txns.js"></script>
  </body>
</html>
